@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Silkscreen&display=swap');

*{user-select: none;}

body
{
    background-color: #092635; color: #9EC8B9;
    font-family: 'Silkscreen', sans-serif;
    margin: 0;
}

h4
{
    margin: 10px;
    text-align: center;
}

#check, #html
{
    height: 14pt; width: 14pt;
    vertical-align: middle
}

main
{
    background-color: #1B4242;
    display: flex;
    margin: auto;
    position: relative;
    top: calc(50vh - 270px);
    min-width: max-content;
    min-height: fit-content;
    max-width: 280px;
    max-height: 560px;
    padding: 28px;
}

main > div
{
    display: flex;
    height: fit-content;
    margin: auto;
}

.socials
{
    margin-top: 20px;
    display: block;
    min-width: fit-content;
}

.socials > div
{
    margin: auto;
    display: block;
    padding: 4px;
    text-align: center;
}

a.button
{
    color: black; background-color: #5C8374;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
    height: min-content;
    min-width: fit-content;
    width: 135px;
    padding: 4px 8px;
}

a.button img
{
    margin: auto;
    display: block;
    width: 16px;
    height: 16px;
}

a.coming-soon
{
    filter: blur(2px);
}

a.arkanus
{
    background-color: #222B89;
    color: white;
    position: relative;
    border-radius: 8px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: bold;
    border: 2px solid #fff7;
    display: block;
    top: 8px;
    width: 300px;
    text-decoration: none;
}

a.arkanus span
{
    margin: auto 10px auto;
    font-size: 23pt;
}

a.arkanus img
{
    margin: 0;
    width: 64px;
    height: 64px;
}

a.arkanus div
{
    margin: auto;
    display: flex;
    width: fit-content;
}

span.carimbo
{
    position: absolute;
    background-color: rgba(255, 255, 225, 0.5);
    color: black;
    top: 69%;
    left: 31%;
    transform: rotate(-19deg);
    z-index: 1;
}

#profile
{
    display: flex;
    margin: auto;
    border: 2px solid #0008;
    height: 120px;
    width: 120px;
    border-radius: 3%;
}

bubble
{
    user-select: none;
    color: yellowgreen;
    position: absolute;
    background-color: #092330;
    border-radius: 10px; font-size: 8pt;
    border: 2px solid #ccc;
    padding: 6px 6px 6px 6px;
    width: 50px; text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 15pt;
    top: 46%;
}

fieldset
{
    position: absolute;
    margin-top: 50px;
    margin-left: 579px;
}